{% extends 'base.html'%}
{% load static %}

{%block content%}
    <img src="{% static 'Shahram_picture.jpg' %}" class="rounded float-right" width="400" height="300" alt="Shahram's picture" >
    <p>
        Hello and welcome to my website. My name is Shahram Zaheri. I am an undergrad computer science student at Simon Fraser University. I also have done studies in chemical engineering and metallurgy. In this website, I am trying to provide some information about my work experience and the projects that I've done. Please do not hesitate to email me (shahram.zaheri@gmail.com) if you have any questions.
    </p>
{%endblock%}