{%extends 'base.html'%}
{% load static %}
{%block content%}
    <h1 class="mx-auto"> Path Finder</h1>       
    <p>
        User selects starting point and destination from the below lists which contain the top twenty 
        Canadian cities by population. A network of routes has been defined among these cities as shown below.
        Once the starting city and the destination are selected, A* search is used to find the shortest path between them. Euclidean distance of the
        cities, which is calculated using latitude and longitude of the cities, is used to compute the heuristic
        values in the A* search.
    </p>
        <form method="post">
            {% csrf_token %}  
            {{form.as_p}}
            <input type="submit" value="Find the Path" class="btn btn-primary">
        </form>
        <p class="mt-2">{{msg}}</p>
        <p class="mb-2">{{cities}}</p>
        <iframe src="https://www.google.com/maps/d/embed?mid=18d07yeRvfrhbOs6u3I4RHFlxBEN6imsw" width="640" height="480"></iframe>
{%endblock content%}
        
